h1{
    color: rgb(7, 7, 7);
    text-transform: capitalize  ;
    padding: 100px 50px 100px 50px;
  
}
.Syntax
{
    color: rgb(10, 128, 224);
    text-decoration: underline;
    text-shadow: 0em;
    padding: 100px 50px 100px 50px;
    text-transform: capitalize  ;
}
body
{
    background-image: url(C:\\Users\\dell\\Downloads\\_23_shiva-wallpaper-hd-for-pc_1880011748.jpg);
    background-position: center;
    background-size: 100%;
    background-position-x: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    border: 5px double rgb(13, 13, 14);
   
}
dev
{
    padding: 10px 600px 10px 600px;
    border: 5px dashed rgb(13, 13, 14);
    

}
   .box
   {
    padding: 5px 5px 5px 5px;
    border: 1px dotted black;
    height: 100px;
    width: 100px;
    display: inline-block;
   }   
   h3
   {
    padding: 5px 5px 5px 5px;
    border: 1px dotted black;
    height: 100px;
    width: 100px;
    float: right;
   }  
   
   div>p{
     color:cyan;
   }

   div+p{
       color: chartreuse;
   }
